<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JF Portfolio</title>
	<link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div id="myTrick">
	      <h1 v-on:click="reverseMessage">{{headerMessage}}</h1>
		  <p v-on:click="reverseMessage">{{introMessage}}</p>
	    </div>
	</header>
	<main>
		<div class="portfolioProjects" v-cloak>
					<div is="the-portfolio" 
					v-for="project in portfolio"
					v-bind:title="project.title"
					v-bind:image="project.image"
					v-bind:caption="project.caption">
					</div>
		</div>
		
	</main>
	
	<div id="app">
	  <div v-if="selectedImage" max-width="85vw">
	    <img :src="selectedImage" alt="" width="100%" @click.stop="selectedImage = null">
	    <hr>
	  </div>

	  <div v-for="url in images">
	    <img :src="url" width="100px" @click="zoom(url)">
	  </div>
	</div>
	
	<div class="enlargebox"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="script.js"></script>
</body>
</html>