html {
	max-width: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

header {
	position: fixed;
	top: 0;
	z-index: 3;
	color: red;	
	max-width: 50%;
}

header p {
	z-index: -800;
	font-size: 1.5em;
}

.portfolioProjects {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 100%;
	box-sizing: border-box;
}

.portfolioNode {
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	margin-bottom: 1%;
	width: 50%;
	position: relative;
	overflow: hidden;
	z-index: 1000;
	background: white;
	transition: all .3s linear 0s;
}

.nodeImage img {
	min-width: 100%;
	position: absolute;
	top: 0;
	z-index: -100;
	opacity: .25;
}

.nodeCaption {
	z-index: 5;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
	text-align: left;
	max-width: 50%;
}

.nodeTitle {
	padding-top: 12%;
	padding-bottom: 12%;
	z-index: 100;
	text-align: right;
	visibility: hidden;
	font-size: 1em;
	color: red;
	font-weight: bold;
}

.portfolioNode:hover .nodeTitle {
	visibility: visible;
}

.portfolioNode.next {
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	margin-bottom: 1%;
	width: 100%;
	position: relative;
	
}

.portfolioNode.next .nodeImage img {
	min-width: 0%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	opacity: 1;
}

.portfolioNode.next .nodeCaption {
	z-index: 5;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: visible;
	text-align: left;
	max-width: 50%;
}

.portfolioNode.next .nodeTitle {
	padding-bottom: 25%;
	z-index: 100;
	text-align: right;
	visibility: visible;
	font-size: 1.5em;
	color: black;
}