body {
	margin: 0;
	padding: 0;
}

.portfolioProjects {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.portfolioNode {
	border: 10px solid black;
	margin: 1%;
	width: 20%;
	position: relative;
}

.nodeImage img {
	max-width: 100%;
}

.nodeCaption {
	z-index: 100;
	position: absolute;
	bottom: 0;
	display: none;
}

.portfolioNode:hover .nodeCaption {
	display: inline;
}

.nodeTitle {
	height: 20%;
	color: mediumblue;
	padding-bottom: 20%;
}

header h1 {
	position: fixed;
	top: 0;
	z-index: 500;
	color: red;	
}

header p {
	padding-top: 5%;
	font-size: 2em;
}

.enlargebox {
	background-color:green; 
	height:100px; 
	width:100px;
}

